<div class="container col-sm-12">

    <section class="post">

        <hr />
        <h3 class="text-center">Runs</h3>
        <hr />
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th class="text-left" style="width:30%">ID</th>
                    <th class="text-left" style="width:30%">Problem</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="run in runs">
                    <td class="text-left">{{ run.run_id }}</td>
                    <td class="text-left">{{ run.problem.name }}</td>
                    <td class="text-right">
                        <a href="#/run/{{run.run_id}}" class="btn btn-primary btn-xs"> Open</a>
                        <a href="#/run/delete/{{run.run_id}}" class="btn btn-danger btn-xs"> Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </section>

</div>