<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">
                <i class="fab fa-python"></i> QD Board
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="nav-link" href="#"><span class="glyphicon glyphicon-list"></span> Runs</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">

    <div class="row">

        <div class="col-md-6">
            <hr />
            <h4 class="text-center">Map</h4>
            <hr />
            <div class="map-container">
                <div id="map">

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <hr />
            <h4 class="text-center">Details</h4>
            <hr />
            <div ng-if="run.problem.name.split('-')[0]=='Zelda'">
                <div>
                    <p class="text-center"><b>Fitness: </b>{{ solutionInFocus.fitness }} </p>
                </div>
                <div class="zelda" id="details-clicked" ng-if="solutionClicked !== null && solutionInFocus === null">
                    <div ng-repeat="y in [] | range:9" style="width: 312px; height: 24px">
                        <span ng-repeat="x in [] | range:13" style="float:left; width: 24px; height: 24px">
                            <img src="static/img/zelda/{{ solutionClicked.genotype[y*13+x].replace('.', 'f') }}.png">
                        </span>
                    </div>
                </div>
                <div class="zelda" id="details-clicked" ng-if="solutionInFocus !== null">
                    <div ng-repeat="y in [] | range:9" style="width: 312px; height: 24px">
                        <span ng-repeat="x in [] | range:13" style="float:left; width: 24px; height: 24px">
                            <img src="static/img/zelda/{{ solutionInFocus.genotype[y*13+x].replace('.', 'f') }}.png">
                        </span>
                    </div>
                </div>
            </div>
            <div ng-if="run.problem.name.split('-')[0]!='Zelda'">
                <div id="details-clicked" ng-if="solutionClicked !== null && solutionInFocus === null">
                    <p class="text-center"><b>Genotype: </b><p>
                    <p class="text-center">{{ solutionClicked.genotype }}</p>
                    <p class="text-center"><b>Fitness: </b></p>
                    <p class="text-center">{{ solutionClicked.fitness }} </p>
                    <p class="text-center"><b>Behavior: </b> </p>
                    <p class="text-center">{{ solutionClicked.behavior }} </p>
                </div>
                <div id="details" ng-if="solutionInFocus !== null">
                    <p class="text-center"><b>Genotype: </b><p>
                    <p class="text-center">{{ solutionInFocus.genotype }}</p>
                    <p class="text-center"><b>Fitness: </b></p>
                    <p class="text-center">{{ solutionInFocus.fitness }} </p>
                    <p class="text-center"><b>Behavior: </b> </p>
                    <p class="text-center">{{ solutionInFocus.behavior }} </p>
                </div>
            </div>

        </div>

    </div>


</div>
