<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">
                <i class="fab fa-python"></i> QD Board
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="nav-link" href="#"><span class="glyphicon glyphicon-list"></span> Runs</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">

    <div class="row">

        <div class="col-md-6">
            <hr />
            <h4 class="text-center">Map</h4>
            <hr />
            <div class="map-container">
                <div id="map">

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <hr />
            <h4 class="text-center">Details</h4>
            <hr />

            <div ng-if="solutionToShow() !== null">
                <p class="text-left"><b>Fitness: </b>{{ solutionToShow().fitness }}</p>
                <p class="text-left"><b>Behavior: </b> </p>
                <div>
                    <p class="text-left" ng-repeat="dim in run.b_dimensions">
                        <b>- {{ dim['name'] }}: </b>{{ solutionToShow().behavior[$index] }}
                    </p>
                </div>
                <div ng-if="run.img_visualizer == null">
                    <p class="text-center"><b>Phenotype: </b><p>
                    <p class="text-center">{{ solutionToShow().phenotype }}</p>
                </div>
                <div ng-if="run.img_visualizer !== null">

                <div id="details" ng-if="solutionToShow() !== null">
                    <div>
                        <img src="{{ solutionToShow().img }}">
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>
